[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apig-wsgi = "*"
attrs = "*"
boto3 = "*"
Flask = "*"
flask_login = "*"
requests = "*"
pyjwt = {extras = ["crypto"], version = "*"}
sentry-sdk = "*"

[dev-packages]
black = "*"
boto3-stubs = {version = "*", extras = ["ecs", "logs"]}
coveralls = "*"
moto = "*"
mypy = "*"
pandas = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"
types-requests = "*"
pip-audit = "*"

[requires]
python_version = "3.12"

[scripts]
sapinvoices_flask_app = "python -c \"from webapp import create_app; create_app().run()\""
