{% extends 'base.html' %}

{% block title %}Process Invoices{% endblock title %}

{% block content %}
  <h1>Process invoices</h1>
  <div class="review-run well">
    <h3 class="title"><strong>Review run</strong></h3>
    <p><strong>Always execute a <u>review run</u> first.</strong></p>
    <p>
      A review run:
      <ol>
        <li>Retrieves invoices from Alma with “Ready to be paid” status*</li>
        <li>Creates two (2) formatted reports -- one for monographs and one for serials</li>
        <li>Creates two (2) summary lists of invoices -- one for monographs and one for serials</li>
        <li>
          Sends two (2) emails with the formatted reports and summary lists 
          (one email for monographs and one email for serials) to the 
          alma-sap-feeds-create@mit.edu Moira list, which includes members of 
          the Libraries’ invoice processing staff and Enterprise Systems staff
        </li>
      </ol>
      After receiving the formatted reports, invoice processing staff compare the report 
      to the vendor’s invoices, and adjust the Alma invoices as needed.
      Review runs can be executed as many times as needed, 
      until all invoices in Alma are accurate.
    </p>
    <p><a class="btn button-primary" href="{{ url_for('process_invoices_run', run_type='review') }}">Execute <strong>review</strong> run</a></p>
  </div>
  <div class="final-run well">
    <h3 class="title"><strong>Final run</strong></h3>
    <p>
      <strong>
        IMPORTANT: 
        <ul>
          <li>
            A <u>final run</u> can only be executed once because it 
            alters the invoices in Alma and transmits the invoices to SAP.
          </li>
          <li>
            All errors from a <u>review run</u> <em>must</em> be addressed before
            executing a final run. 
          </li>
        </ul>
      </strong>
      Only execute a <strong>final run</strong> once all Alma invoices have been adjusted
      and a review run produces a report that matches the vendor invoices.
    </p>
    <p>
      A final run:
      <ol>
        <li>Retrieves invoices from Alma with “Ready to be paid” status*</li>
        <li>Creates two (2) formatted reports -- one for monographs and one for serials</li>
        <li>Creates two (2) summary lists of the invoices -- one for monographs and one for serials</li>
        <li>
          Creates two (2) sets of a data file and a control file -- one for monographs and 
          one for serials
        </li>
        <li>Transmits the data files and control files to Accounts Payable</li>
        <li>Marks the invoices "Paid" in Alma</li>
        <li>
          Sends two (2) emails with the formatted reports and summary lists 
          (one email for monographs and one email for serials) to the
          alma-sap-feeds-send@mit.edu Moira list, which includes members of 
          the Libraries’ invoice processing staff, Enterprise Systems staff, 
          and Accounts Payable staff
        </li>
      </ol>
    </p>
    </p>
    <p><a class="btn button-primary" href="{{ url_for('process_invoices_confirm_final_run') }}">Execute a <strong>final</strong> run</a></p>
  </div>
  *In the Alma UI, the invoices will display the status of “Ready to be paid”, but 
   under the hood, the status of these invoices is “Waiting to be sent”. 
   Strange but true!
{% endblock content %}